*{
    padding: 0;
    margin: 0;
} /*-- RETIRA A MARGEN PADRAO --*/

div[id="pageRegister"] .ui-input-text.ui-custom ::placeholder{
    color: #9400D3;
    text-shadow: none;
    font-weight: bold;
}

div[id="pageLogin"] .ui-input-text.ui-custom ::placeholder{
    color: #FFA500;
    text-shadow: none;
    font-weight: bold;
}
/*-- RETIRA OS EFEITOS DO PLACEHOLDER --*/

div[id="pageRegister"] input[type="text"], div[id="pageRegister"]{
    background-color: #FFA500    !important;
}

div[id="pageLogin"] input[type="text"], div[id="pageLogin"]{
    background-color: #9400D3    !important;
}

div[id="pageRegister"] .ui-input-text.ui-custom {
    text-shadow: none;
    vertical-align: middle;
    width: 75vw;
    border: none;
    border-radius: unset;
    box-shadow: none;
    border-bottom: 2px solid #9400D3;
    margin-top: 6vh;
}

div[id="pageLogin"] .ui-input-text.ui-custom {
     text-shadow: none;
     vertical-align: middle;
     width: 75vw;
     border: none;
     border-radius: unset;
     box-shadow: none;
     border-bottom: 2px solid #FFA500;
     margin-top: 6vh;
 }

div[id="pageLogin"] hr{
    margin-top: 10vh;
    width: 75vw;
    border: none;
    border-bottom: 2px solid #FFA500;
}map

div[id="pageMap"]{
	width: 100vw;
	height: 100vh;
}


div[id="map"]{
    margin-top: 2vh;
    width: 94vw;
    height: 77vh;
}

.logo{
    position: static;
    margin-top: 3vh;
    width: 15vw;
    height: 15vw;
}


.ui-input-btn.ui-custom {
    background-color: #9400D3;
    color: white;
    text-shadow: none;
    border: none;
    border-radius: unset;
    width: 60vw;
    margin-top: 13vh;    
    box-shadow: none;
}

.ui-input-btn.ui-custom-margin {
    background-color: #9400D3;
    color: white;
    text-shadow: none;
    border: none;
    border-radius: unset;
    width: 60vw;
    margin-top: 5vh;    
    box-shadow: none;
}

div[id="pageMap"]{
    background-color: orange;
}