*{
    padding: 0;
    margin: 0;
} /*-- RETIRA A MARGIN PADRAO --*/

div[id="pageRegister"] .ui-input-text.ui-custom ::placeholder{
    color: #9400D3;
    text-shadow: none;
    font-weight: bold;
}

div[id="pageLogin"] .ui-input-text.ui-custom ::placeholder{
    color: #FFA500;
    text-shadow: none;
    font-weight: bold;
}
/*-- RETIRA OS EFEITOS DO PLACEHOLDER --*/

div[id="pageRegister"] input[type="text"], div[id="pageRegister"]{
    background-color: #FFA500    !important;
}

div[id="pageLogin"] input[type="text"], div[id="pageLogin"]{
    background-color: #9400D3    !important;
}

div[id="pageRegister"] .ui-input-text.ui-custom {
    margin-left: 6.5vh;
    text-shadow: none;
    vertical-align: middle;
    width: 75vw;
    border: none;
    border-radius: unset;
    box-shadow: none;
    border-bottom: 2px solid #9400D3;
    margin-top: 6vh;
}

div[id="pageLogin"] .ui-input-text.ui-custom {
     margin-left: 6.5vh;
     text-shadow: none;
     vertical-align: middle;
     width: 75vw;
     border: none;
     border-radius: unset;
     box-shadow: none;
     border-bottom: 2px solid #FFA500;
     margin-top: 6vh;
 }

div[id="pageLogin"] hr{
    margin-top: 10vh;
    margin-left: 6.5vh;
    width: 75vw;
    border: none;
    border-bottom: 2px solid #FFA500;
}

.logo{
    position: static;
    margin-top: 3vh;
    margin-left: 40vw;
    width: 15vw;
    height: 15vw;
}

.ui-input-btn.ui-custom {
    background-color: #9400D3;
    color: white;
    text-shadow: none;
    border: none;
    border-radius: unset;
    width: 60vw;
    margin-left: 15vw;
    margin-top: 11vh;
    box-shadow: none;
}
