*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* LOGIN */
div[id="pageLogin"] img{
    margin-top: 6vh;
    width: 15vw;
    height: 15vw;
}

div[id="pageLogin"], div[id="pageLogin"] .ui-input-text.ui-custom{
    background-color: #9400D3;
}

div[id="pageLogin"] .ui-input-text.ui-custom {
    font-family: 'Roboto', sans-serif;
    margin-top: 5vh;
    border: none;
    border-radius: unset;
    border-bottom: 2px solid #FFA500;
    text-shadow: none;
    box-shadow: none;
    color: #FFA500;
    width: 70vw;
    height: 5vh;
}

div[id="pageLogin"] .ui-input-text.ui-custom ::placeholder {
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
    text-shadow: none;
    color: #FFA500;
}

div[id="pageLogin"] .ui-input-btn.ui-custom{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color: #9400D3;
    border: none;
    border-radius: unset;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)  ;
    text-shadow: none;
    color: white;
    width: 35vw;
}

div[id="pageLogin"] .ui-input-btn.ui-custom:active {
    background-color: #FFA500;
}

div[id="pageLogin"] hr{
    width: 75vw;
    border: none;
    border-bottom: 2px solid #FFA500;
}
/* LOGIN */
/* REGISTRO */
div[id="pageRegister"] img{
    margin-top: 6vh;
    width: 15vw;
    height: 15vw;
}

div[id="pageRegister"], div[id="pageRegister"] .ui-input-text.ui-custom{
    background-color: #FFA500;
}

div[id="pageRegister"] .ui-input-text.ui-custom{
    font-family: 'Roboto', sans-serif;
    margin-top: 5vh;
    border: none;
    border-radius: unset;
    border-bottom: 2px solid #9400D3;
    text-shadow: none;
    box-shadow: none;
    color: #9400D3;
    width: 70vw;
    height: 5vh;
}

div[id="pageRegister"] .ui-input-text.ui-custom ::placeholder{
    color: #9400D3;
    font-family: 'Roboto', sans-serif;
    box-shadow: none;
    text-shadow: none;
}

div[id="pageRegister"] .ui-input-btn.ui-custom{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 8vh;
    margin-bottom: 8vh;
    background-color: #9400D3;
    border: none;
    border-radius: unset;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-shadow: none;
    color: white;
    width: 35vw;
}

div[id="pageRegister"] .ui-input-btn.ui-custom:active {
    background-color: #8A2BE2;
}

div[id="pageRegister"] hr{
    width: 75vw;
    border: none;
    border-bottom: 2px solid #9400D3;
}
/* REGISTRO */